hypercube-0.7/
hypercube
hypercube-cli
tmp/
*.swp
program-dbg
program-opt
zacatky/zacatky
zacatky/zacatky.hi
zacatky/zacatky.o
*.log
*.dvi
*.aux
*.toc
*.lof
*.out
bakalarka/en/thesis.ps
bakalarka/en/thesis.pdf


